<div class="span4">
	<div class="song-box">
		<div class="song-box-inner">
			<a rel="tooltip" data-original-title="<%= song.url %>" class="profile-logo-link" href="<%= song.url %>/shop">
				<%= song.url %>
			</a>
		</div>
	</div>
</div>
