<div class="container-fluid navbar-inner span2"><p><b>Who are we?</b></p>
<p class=""><b>Meet the Team:</b></p>
<p><a href="#">Dylan</a></p>
<p><a href="#">Brandon</a></p>
<p><a href="#">Kathryn</a></p>
<p><a href="#">Lane</a></p>
<p><a href="#">Kory</a></p>
<p><a href="#">Guy</a></p>
</div>
<p class="span4 navbar-inner">we are a startup that has come out startup weekend in seattle. we had an idea created it in 52 hours and ended up winning the competition. from there we started to run with is and are now in the works of pushing it to the market.</p>




<div class="navbar-inner span4">
	<p><b>Name:</b> Dylan Something or other</p>
	<p><b>Age:</b> 19</p>
	<p><b>Role:</b> Android Dev</p>
	<p><b>Description:</b> starting school soon</p>
	<img Alt="Dylans profile pic"src="/dylanface.jpg">
	
</div>