
<div class="span2 nav nav-list bs-docs-sidenav affix sidebar">	
<ul class="nav nav-list bs-docs-sidenav affix navbar-inner">
<li><b>Meet the Team:</b></li>
<li><a href="#dylan">Dylan</a></li>
<li><a href="#brandon">Brandon</a></li>
<li><a href="#kathryn">Kathryn</a></li>
<li><a href="#lane">Lane</a></li>
<li><a href="#kory">Kory</a></li>
<li><a href="#guy">Guy</a></li>
</ul>
</div>

<div class="span10">

<p class="offset2 navbar-inner"><b>Who are we?</b> <br />We are a startup that has come out <a href="http://www.startupweekend.org"> Startup Weekend</a> in seattle. we had an idea created it in 52 hours and ended up winning the competition. from there we started to run with is and are now in the works of pushing it to the market.</p>

<div class="navbar-inner offset2" id="dylan">
	<p><b>Name:</b> <a href="http://www.dylanswiggett.com">Dylan Swiggett</a></p>
	<p><b>Age:</b> 18</p>
	<p><b>Role:</b> Android Dev</p>
	<p><b>Description:</b> I'm an 18 year old Computer Science student starting at the University of Washington. I first started programming when 13 years old, teaching myself Python, and have been coding ever since. in the last few years I've begun to participate in programming competitions, and Startup Weekend is the largest event I've competed in thus far. It's been great to see how an idea I pitched as a joke has evolved into an app about which people are excited!</p>
	<img Alt="Dylans profile pic" src="assets/dylanface.jpg">
	
</div>

<div class="navbar-inner offset2" id="brandon">
	<p><b>Name:</b> Brandon Ramirez</p>
	<p><b>Age:</b> 19</p>
	<p><b>Role:</b> iOS Dev</p>
	<p><b>Description:</b> Currently a student at Bellevue College, Brandon is aspiring to get his AA degree in computer science before transferring to a university in California.  As a young entrepreneur,  he began a small software company with his friend Kathryn to create mobile apps; Specifically focusing on games and music.</p>

	<p>He has competed in several hackathon events and now startup weekend.  He currently works with several languages on different platforms including C++, Java, Lua, Objective-C, and others which he is currently learning.  
</p><p>
	He is 5' 7'', has brown eyes, and enjoys long walks on the beach, as long as it isn't too cold outside. </p>
	<img Alt="Brandon profile pic" src="assets/brandonface.jpg">
	
</div>

<div class="navbar-inner offset2" id="kathryn">
	<p><b>Name:</b> <a href="mailto:kathryn@hazardsoftware.com">Kathryn Brusewitz</a></p>
	<p><b>Age:</b> 18</p>
	<p><b>Role:</b> Designer</p>
	<p><b>Description:</b> I've been an artist ever since I first held a crayon. Moving up from comics and homework doodles, I'm now a graphic artist and game designer with a huge passion for music. Earlier this year, I co-founded with Brandon a studio that specializes in developing iOS music tools. Then when I heard Showr pitched at Startup Weekend, I instantly knew this is an app I'd love to help out with. In my spare time, you can find me with a camera in hand or experimenting with synths and sequencers. </p>
	<img Alt="Kathryn profile pic" src="assets/kathrynface.jpg">
	
</div>

<div class="navbar-inner offset2" id="lane">
	<p><b>Name:</b> <a href="http://aasen.in">Lane Aasen</a></p>
	<p><b>Age:</b> 17</p>
	<p><b>Role:</b> Web Developer</p>
	<p><b>Description:</b> I’m a developer, entrepreneur and sometimes a designer. I’m the CTO and co-founder of <a href="http://firedov.es">Firedove</a> and a webdev on Showr. Outside of tech I also enjoy hiking, skiing and running.</p>
	<img Alt="lane profile pic" src="assets/laneface.jpg">
	
</div>

<div class="navbar-inner offset2" id="kory">
	<p><b>Name:</b><a href="http://www.korytegman.com"> Kory Tegman</a></p>
	<p><b>Age:</b> 25</p>
	<p><b>Role:</b> Web Developer, Product Support</p>
	<p><b>Description:</b> I am a homebrewed Seattleite, recently married, Tech Guy! being around this techy city made me love programming, startups and anything techy! I have worked in IT for about five years and freelanced web and design projects on top of that for the last two. In three points I would say I am; Self + school taught, avid knowledge sucker, startup fiend. Participating in the<a href="http://www.startupweekend.org"> Startup Weekend</a> and building this app is a whirlwind if rad new experiences. </p>
	<img Alt="korys profile pic" src="assets/koryface.jpg">
	
</div>

<div class="navbar-inner offset2" id="guy">
	<p><b>Name:</b> Guy Gilbert</p>
	<p><b>Age:</b> 42</p>
	<p><b>Role:</b> marketing and product dev master!</p>
	<p><b>Description:</b> Working at Microsoft as a Marketing team lead</p>
	<img Alt="Guys profile pic"src="assets/guyface.jpg">
	
</div>
</div>