<div class="container-fluid navbar-inner span2 sidebar">
<p class=""><b>Meet the Team:</b></p>
<p><a href="#">Dylan</a></p>
<p><a href="#">Brandon</a></p>
<p><a href="#">Kathryn</a></p>
<p><a href="#">Lane</a></p>
<p><a href="#">Kory</a></p>
<p><a href="#">Guy</a></p>
</div>
<p class="span10 navbar-inner"><b>Who are we?</b> <br />We are a startup that has come out <a href="http://www.startupweekend.org"> Startup Weekend</a> in seattle. we had an idea created it in 52 hours and ended up winning the competition. from there we started to run with is and are now in the works of pushing it to the market.</p>




<div class="navbar-inner span10">
	<p><b>Name:</b> <a href="http://www.dylanswiggett.com">Dylan Swiggett</a></p>
	<p><b>Age:</b> 18</p>
	<p><b>Role:</b> Android Dev</p>
	<p><b>Description:</b> I'm an 18 year old Computer Science student starting at the University of Washington. I first started programming when 13 years old, teaching myself Python, and have been coding ever since. in the last few years I've begun to participate in programming competitions, and Startup Weekend is the largest event I've competed in thus far. It's been great to see how an idea I pitched as a joke has evolved into an app about which people are excited!</p>
	<img Alt="Dylans profile pic"src="/dylanface.jpg">
	
</div>

<div class="navbar-inner span10">
	<p><b>Name:</b> Brandon Ramirez</p>
	<p><b>Age:</b> 19</p>
	<p><b>Role:</b> iOS Dev</p>
	<p><b>Description:</b> I love cheeseburgers </p>
	<img Alt="Brandon profile pic"src="/brandonface.jpg">
	
</div>

<div class="navbar-inner span10">
	<p><b>Name:</b> <a href="mailto:kathryn@hazardsoftware.com">Kathryn Brusewitz</a></p>
	<p><b>Age:</b> 18</p>
	<p><b>Role:</b> Designer</p>
	<p><b>Description:</b> I've been an artist ever since I first held a crayon. Moving up from comics and homework doodles, I'm now a graphic artist and game designer with a huge passion for music. Earlier this year, I co-founded with Brandon a studio that specializes in developing iOS music tools. Then when I heard Showr pitched at Startup Weekend, I instantly knew this is an app I'd love to help out with. In my spare time, you can find me with a camera in hand or experimenting with synths and sequencers. </p>
	<img Alt="Kathryn profile pic"src="/kathrynface.jpg">
	
</div>

<div class="navbar-inner span10">
	<p><b>Name:</b> Lane Aasen</p>
	<p><b>Age:</b> 17</p>
	<p><b>Role:</b> Web Developer!</p>
	<p><b>Description:</b> school</p>
	<img Alt="lane profile pic"src="/laneface.jpg">
	
</div>

<div class="navbar-inner span10">
	<p><b>Name:</b><a href="http://www.korytegman.com"> Kory Tegman</a></p>
	<p><b>Age:</b> 25</p>
	<p><b>Role:</b> Web Dev, Product Support</p>
	<p><b>Description:</b> I am a homebrewed Seattleite, and I love this City! , being around this techy city made me love programming, startups and anything techy! I have worked in IT for about five years and freelanced web and design projects on top of that for the last two. In three points I would say I am; Self + school taught, avid knowledge sucker, startup fiend. Participating in the<a href="http://www.startupweekend.org"> Startup Weekend</a> and building this app is a whirlwind if rad new experiences. </p>
	<img Alt="korys profile pic"src="/koryface.jpg">
	
</div>

<div class="navbar-inner span10">
	<p><b>Name:</b> Guy Gilbert</p>
	<p><b>Age:</b> 42</p>
	<p><b>Role:</b> marketing and product dev master!</p>
	<p><b>Description:</b> Working at Microsoft as a Marketing team lead</p>
	<img Alt="Guys profile pic"src="/Guyface.jpg">
	
</div>