    <div class="container">
      <div class="row show-grid shop-grid">
        <div class="span4">
          <div class="song-box">
            <div class="sidebar-nav song-box-inner">
              <h4>
                 The safe place for performers to be discovered
              </h4>
              <p>
Many people love to sing. But not everyone posts their performances on YouTube or participates in American Idol.
We are building an app for budding performers to record and post their songs anonymously. Fans and judges from around the world will give you feedback and support. Once you're ready, you can "come out of the shower", reveal yourself to the world. And become a star!
              </p>
            </div>  
          </div>
        </div>

        <%= render @songs %>
    
      </div>
    </div> <!-- /container -->


